<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedido Restaurante</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Datos personales</p>

  <ion-input   label="Nombre" labelPlacement="floating" label-placement="floating" fill="solid" placeholder="Ingresa tu nombre"></ion-input>

  <ion-input   label="Telefono" labelPlacement="floating" label-placement="floating" fill="solid" placeholder="Ingresa tu telefono"></ion-input>

  <p>Datos del perdido</p>

  <ion-input   label="Nombre del Producto" labelPlacement="floating" label-placement="floating" fill="solid" placeholder="Nombre del producto"></ion-input>

  <ion-input   label="Cantidad" labelPlacement="floating" label-placement="floating" fill="solid" placeholder="Cantidad"></ion-input>

  <ion-input   label="Valor" labelPlacement="floating" label-placement="floating" fill="solid" placeholder="Valor"></ion-input>


  <ion-button shape="round">Pagar</ion-button>


</ion-content>
